.App {
  text-align: center;
}
.circle-wrap{
  width:auto;
  margin-top:50px;
  display: flex;
  justify-content: center;
}
.circle{
  width:50px;
  height: 50px;
  border-radius: 25px;
  margin:0 5px;
  cursor:pointer;
}